//    Font Family
$primary-font: "Montserrat", sans-serif;
$content-font: "Open Sans", sans-serif;
// --------------------------- Color variations ----------------------
$primary-color: #f41863;
$primary-color2-1: #fcc415;
$primary-color2-2: #ff9400;
$primary-color3-1: #7134db;
$primary-color3-2: #ff9400;
$primary-color4-1: #48008a;
$primary-color4-2: #ff9400;
$primary-color5-1: #53fff0;
$primary-color5-2: #c832ff;
$title-color: #222222;
$text-color: #777777;
$gray-color: #dddddd;
$light-gray: #f9f9ff;
$white: #fff;
$offwhite: #fafafa;
$black: #222;
